<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Area de pruebas de Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis amet ex libero quisquam officiis obcaecati, vero, impedit repudiandae non beatae totam aperiam, dolor quae velit ipsum commodi? Animi, alias libero?
        </p>
    </div>
</div>