<div class="jumbotron col text-center">
    <h1 class="display-4">GOD SPACE</h1>
    <p class="lead">Espacio sagrado</p>
    <h1 class="my-4"></h1>
    <p>
        No ingresar sin autorización. Aquí yacen las ideas y notas que se comparten día a día.
    </p>
    <a href="/users/signin" 
    class="btn btn-primary btn-lg">Login</a>
</div>