<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mx-4 text-center">
            <div class="card-header">
                <h1>Localhost:3000</h1>
                <h2 id="god">GODSPACE</h2>
            </div>
            <img src="/img/logo.png" class="rounded-circle mx-auto d-block  m-4 logo" alt="Logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Correo" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        Ingresar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div> 